#descicloapp-button-1 {
	list-style-image: url("chrome://descicloapp/content/DescicloApp/icons/iconpb_24.png");
}

toolbar[iconsize="small"] #descicloapp-button-1 {
	list-style-image: url("chrome://descicloapp/content/DescicloApp/icons/iconpb.png");
}

#descicloapp-button-1:hover {
	list-style-image: url("chrome://descicloapp/content/DescicloApp/icons/icon_24.png");
}

toolbar[iconsize="small"] #descicloapp-button-1:hover {
	list-style-image: url("chrome://descicloapp/content/DescicloApp/icons/icon.ico");
}